{% extends "layout_nav.html"%}

{% block extendedcss %}
    {% block pagecss %}
    {% endblock pagecss %}
{% endblock %}

{% block nav %}
<div class="nav-1">
    <li class="links">
        <a href="{{url_for('welcome')}}" class="nav-link" style="padding: 0;">
            Home
        </a>
        <a href="{{url_for('login')}}" class="nav-link">
            Login
        </a>
        <a href="{{url_for('register')}}" class="nav-link">
            Register
        </a>
        <a href="#" class="nav-link">
            Admin
        </a>
        <a href="#" class="nav-link">
            About Us
        </a>
    </li>
</div>
{% endblock %}

{% block pagecontent %}
    {% block page %}
    {% endblock %}
{% endblock %}