{% extends "layout1.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/welcome.css')}}">
{% endblock css %}

{% block content %}
    <div class=" px-0 container-fluid" style="height: 50vh;">
        <div class="yellowBox" style="height: 50vh;">
            <div class="container">
                <div class="yellow">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis beatae harum illum, vitae molestiae nulla eos? Laudantium repellat iusto nobis nisi libero distinctio. Vel libero dignissimos hic ratione? Debitis, facere?
                </div>
            </div>
        </div>
        
        
    </div>
{% endblock %}
